@import "compass/css3";
@import "susy";
@import "breakpoint";

$avatar-x: image-width('avatar.jpg');
$avatar-y: image-height('avatar.jpg');

/* Reset */

@import 'compass/reset/utilities';

* {
@include reset-box-model;
}

/* Paragraph spacing */

ul, ol {
padding-left: 2em;
}

p, h1, h2, h3, h4, h5, h6 {
padding: 0.5em 0;
}

code {
display: block;
padding: 0.3em;
border: 1px solid #999;
}

/* Font and color */

body {
font-family:"Open Sans",sans-serif;
background-color:#333;
}

nav {
font-size:.8em;
}

nav a:link, nav a:visited
{
color:#fff;
background-color:#666;
}

nav a:hover, nav a:active
{
color:#000;
background-color:#ccc;
}

.main {
color:#000;
background-color:#fff;
}

footer {
font-size:.8em;
color:#666;
background-color:#ccc;
}

.post_date
{
color:#666;
}

.post_preview
{
color:#666;
font-size:.8em;
}

h1 {
font-weight:normal;
font-size:1.6em;
text-align:center;
}

h2 {
font-weight:normal;
font-size:1.3em;
text-align:center;
}

code, pre {
font-family:"Ubuntu Mono",monospace;
}

code {
background-color:#ccc;
color:#333;
}

/* Structure */

@include layout(4 1 inside);

.main {
@include container(100%);
}

header {
@include span(full);
margin-top: 1em;
margin-bottom: 1em;
}

header img {
display: block;
float: left;
@include box-shadow(black 0 0 5px);
width: $avatar-x / 2;
height: $avatar-y / 2;
}

header p {
padding: 0;
font-size: 32px;
line-height: $avatar-y / 2;
padding-left: ($avatar-x / 2) + 16px;
}

nav {
@include span(full);
}

nav a {
display: block;
width: 50%;
@include box-shadow(white 0 0 1px inset, rgba(black, 0.5) 0 0 3px);
border-style: solid;
border-color: #333;
border-width: 1px 1px 0 1px;
margin: 0 auto;
text-decoration: none;
text-align: center;
}

nav a:last-child {
border-width: 1px;
}

.content {
@include span(full);
margin-top: 1em;
margin-bottom: 1em;
}

footer {
@include span(full);
}

/* Breakpoints */

@include breakpoint(512px) {

body {
@include background(linear-gradient(#ccc, #333) fixed);
}

nav {
text-align: center;
}

nav a {
display: inline-block;
width: auto;
padding: 0.5em 1em;
margin: 0;
border-width: 1px 0 1px 1px;
}

nav a:last-child {
border-width: 1px;
}

header img {
width: $avatar-x;
height: $avatar-y;
}

header p {
line-height: $avatar-y;
font-size: 34px;
padding-left: $avatar-x + 16px;
}

.main {
@include container(80%);
border: 1px solid #333;
border-top: 0;
margin-bottom: 1em;
}

}

@include breakpoint(768px) {

header p {
padding-left: $avatar-x + 32px;
}

}

@include breakpoint(1200px) {

header p {
font-size: 42px;
}

.main {
@include container(960px);
}

}
