body {
font-family:sans-serif;
color:#000;
background-color:#aaa;
margin:0;
padding:16px;
}

h1 {
font-weight:normal;
font-size:1.5em;
text-align:center;
}

h2 {
font-weight:normal;
font-size:1.2em;
text-align:center;
}

#nav {
font-size:.8em;
padding:0;
border:0;
margin:0 auto 0 auto;
}

#nav ul
{
list-style-type:none;
margin:0;
border:0;
padding:0;
overflow:hidden;
}

#nav li
{
float:left;
}

#nav a:link, #nav a:visited
{
display:block;
width:auto;
color:#fff;
background-color:#777;
text-align:center;
padding:.2em 1em .2em 1em;
margin:0 1px 0 1px;
border:1px solid #000;
text-decoration:none;
}

#nav a:hover, #nav a:active
{
color:#000;
background-color:#eee;
}

#main {
color:#000;
box-shadow:0 0 10px #555;
width:750px;
margin:0 auto 0 auto;
background-color:#fff;
border:1px solid #333;
padding:1em;
}

#header {
width:750px;
border:0;
padding:0;
margin:0;
font-size:1.5em;
}

#content {
clear:both;
}

#footer {
clear:both;
font-size:.8em;
color:#555;
background-color:#eee;
margin:0;
padding:4px;
}

.post_date
{
color:#555;
}

.post_preview
{
color:#555;
font-size:.8em;
}
