<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="author" content="Daniel Jones" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Daniel Jones - {{ page.title }}</title>
</head>
<body>

<div id="main">

<div id="header">
<img src="/images/avatar.png" width="133" height="133" alt="portrait" style="vertical-align:middle;" />
Daniel Jones
</div><!-- end header -->

<div id="nav">
<ul>
<li><a href="/">Where to find me</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/projects/">Projects</a></li>
</ul>
</div><!-- end nav -->

<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div><!-- end content -->

<div id="footer">
{% include footer.html %}
</div><!-- end footer -->

</div><!-- end main -->

</body>
</html>
