<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="author" content="Daniel Jones" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="google-site-verification" content="5OWi-zCzK1Ecq1LeO7XgXL_ZCETo2g-f1My_qCzkScA" />
<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/images/icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Daniel Jones - {{ page.title }}</title>
</head>
<body>

<div id="main">

<div id="header"></div>

<nav id="nav" role="navigation">
<ul>
<li><a href="/">Where to find me</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/projects/">Projects</a></li>
</ul>
</nav><!-- end nav -->

<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div><!-- end content -->

<div id="footer">
{% include footer.html %}
</div><!-- end footer -->

</div><!-- end main -->

</body>
</html>
