<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Daniel Jones - {{ page.title }}</title>
<meta name="author" content="Daniel Jones" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
<meta http-equiv="content-style-type" content="text/css"/>
<meta http-equiv="expires" content="0"/>
<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
<link rel="icon" type="image/png" href="/images/icon.png" />
</head>
<body>

<div id="main">

<div id="header">
<img src="/images/avatar.png" width="133" height="133" alt="portrait" style="vertical-align:middle;" />
Daniel Jones
</div>

<div id="nav">
<ul>
<li><a href="/">Where to find me</a></li>
<li><a href="/blog/">Blog</a></li>
</ul>
</div>

<div id="content">
<h1>{{ page.title }}</h1>
{{ content }}
</div>

<div id="footer">{% include footer.html %}</div>

</div>

</body>
</html>
